<a href="https://colab.research.google.com/github/mahin-arvind/GTD-EDA/blob/main/Global_Terrorism_Analysis_Capstone_Project.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## <b> The Global Terrorism Database (GTD) is an open-source database including information on terrorist attacks around the world from 1970 through 2017. The GTD includes systematic data on domestic as well as international terrorist incidents that have occurred during this time period and now includes more than 180,000 attacks. The database is maintained by researchers at the National Consortium for the Study of Terrorism and Responses to Terrorism (START), headquartered at the University of Maryland.</b>

# <b> Explore and analyze the data to discover key findings pertaining to terrorist activities. </b>

In [1]:
import pandas as pd
import numpy as np

In [2]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [40]:
gta_df = pd.read_csv(filepath, encoding = "ISO-8859-1", engine='python')

In [7]:
gta_df.head(5)

        eventid  iyear  imonth  iday  ... INT_IDEO  INT_MISC INT_ANY  related
0  197000000001   1970       7     2  ...        0         0       0      NaN
1  197000000002   1970       0     0  ...        1         1       1      NaN
2  197001000001   1970       1     0  ...       -9         1       1      NaN
3  197001000002   1970       1     0  ...       -9         1       1      NaN
4  197001000003   1970       1     0  ...       -9         1       1      NaN

[5 rows x 135 columns]

In [41]:
gta_df.columns

Index(['eventid', 'iyear', 'imonth', 'iday', 'approxdate', 'extended',
       'resolution', 'country', 'country_txt', 'region',
       ...
       'addnotes', 'scite1', 'scite2', 'scite3', 'dbsource', 'INT_LOG',
       'INT_IDEO', 'INT_MISC', 'INT_ANY', 'related'],
      dtype='object', length=135)

Picking columns relevant for the EDA

Reference Material to pick columns [GTA CodeBook](https://www.start.umd.edu/gtd/downloads/Codebook.pdf)

In [42]:
useful_columns = ['eventid','iyear','country_txt', 'region_txt','city','crit1','crit2','crit3','attacktype1','attacktype1_txt',
                  'success','suicide','weaptype1','weaptype1_txt','targtype1','targtype1_txt', 'gname','claimed','nkill',
                  ]

In [43]:
gta_df = gta_df.loc[:, useful_columns]

In [44]:
gta_df.head(5)

        eventid  iyear  ... claimed nkill
0  197000000001   1970  ...     NaN   1.0
1  197000000002   1970  ...     NaN   0.0
2  197001000001   1970  ...     NaN   1.0
3  197001000002   1970  ...     NaN   NaN
4  197001000003   1970  ...     NaN   NaN

[5 rows x 19 columns]

In [48]:
gta_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 181691 entries, 0 to 181690
Data columns (total 19 columns):
 #   Column           Non-Null Count   Dtype
---  ------           --------------   -----
 0   eventid          181691 non-null  int64
 1   iyear            181691 non-null  int64
 2   country_txt      181691 non-null  object
 3   region_txt       181691 non-null  object
 4   city             181257 non-null  object
 5   crit1            181691 non-null  int64
 6   crit2            181691 non-null  int64
 7   crit3            181691 non-null  int64
 8   attacktype1      181691 non-null  int64
 9   attacktype1_txt  181691 non-null  object
 10  success          181691 non-null  int64
 11  suicide          181691 non-null  int64
 12  weaptype1        181691 non-null  int64
 13  weaptype1_txt    181691 non-null  object
 14  targtype1        181691 non-null  int64
 15  targtype1_txt    181691 non-null  object
 16  gname            181691 non-null  object
 17  claimed          115571 non-null  float64
 18  nkill            171378 non-null  float64
dtypes: float64(2), int64(10), object(7)
memory usage: 26.3+ MB

In [45]:
import seaborn as sns
import matplotlib.pyplot as plt

%matplotlib inline